---
layout: page
title: Main
weight: 1.5
show: 1
---

<div class="col-7">
    <center>
  <table>
<tr><td style="padding:10px 90px 10px 0px">
      <img width="200px" class="img-rounded" src="images/Photo_Sarah.jpg" />
  </td><td style="padding:10px">
    <center>
    <h1>Sarah Shoilee </h1>
    <b>PhD Candidate.</b> <br> Department of Computer Science,<b>Vrije Universiteit Amsterdam</b> <br>
    Research Group: <a href="https://ucds.cs.vu.nl/">User-Centric Data Science</a> <br>
    <span style="font-size:15px"><a href="mailto:s.b.a.shoilee@vu.nl">[s.b.a.shoilee@vu.nl]</a> <a href="cv/cv.pdf">[cv]</a></span> </h1> <br>
<b>PhD Candidate.</b> <b>VU Amsterdam</b> <br>
</center>

      </td>
  </tr>
  </table>
  </center>
<br>
</div>

<p style="font-size: 18px">
  My  <a href="https://scholar.google.com/citations?hl=en&user=vT8YghEAAAAJ&view_op=list_works&sortby=pubdate">research </a> aims to foster knowledge discovery in 
  complex and critical domains—particularly within the field of provenance research—by 
  leveraging hybrid data science methods and socio-technical perspectives. 
  I focus on the integration of Semantic Web technologies, Linked Data, and 
  interdisciplinary approaches to extract, model, and visualize rich contextual information 
  from historical and cultural heritage sources. Through this work, I strive to improve 
  data quality, enhance interpretability, and develop intelligent tools 
  that support meaningful human-computer collaboration in uncovering hidden patterns and 
  connections, especially in colonial heritage collections.
</p>

<p style="font-size: 18px">
  Building on my current work, my future research will continue to explore 
    <strong>hybrid processes in data science</strong>, particularly within 
    <strong>socio-technical systems</strong> where human and computational elements interact in complex ways. 
    I am deeply interested in advancing <strong>interdisciplinary methods</strong> that bridge the gap between 
    technical innovation and domain-specific expertise—especially in the context of cultural heritage, digital humanities, 
    and historical data.
</p>

<p style="font-size: 18px">
  A central focus of my future work will be on <strong>Knowledge Discovery and Capture</strong>, 
    encompassing the <strong>extraction, mining, and communication</strong> of structured and unstructured information 
    across diverse data sources. I aim to push the boundaries of what’s possible with 
    <strong>Semantic Web technologies and Linked Data</strong>, developing frameworks and tools that make knowledge more 
    findable, interpretable, and actionable—both by machines and by humans.
</p>

<h3> Current Research Areas </h3>
<p style="font-size: 18px">
<ul style="font-size: 18px">
  <li> Semantic Web and Linked Data. </li>
  <li> Digital Humanities.  </li>
  <li> Knowledge Discovery.  </li>
  <li> Hybrid Approaches and Interdisciplinary Research. </li>
</ul>
</p>

<!--
<h3> Recognition </h3>


<p style="font-size: 18px">
My group's work has been recognized with an NSF CAREER Award and a Sloan Fellowship. We have won paper awards at conferences for NLP, Hardware, and Visualization, as well as awards for best demonstrations for open-source software.
</p>


<h3>Selected Papers</h3>

<p style="font-size: 18px">
A selection of papers that represent my research interests and style.
</p>

<table>
{% for paper in site.data.papers.notable %}

  <tr><td style="padding:10px">
      {% if paper.image %}
      <a href="{{paper.pdf}}"><img width="150px" style="min-width:100px" src="{{paper.image}}"></a>
      {% else %}
      <a href="{{paper.pdf}}"><img height="75px" style="min-width:100px" src="https://avatar.tobi.sh/{{paper.title}}"></a>
      {% endif %}
</td><td style="padding:10px">
<a class="paper" href="{{paper.pdf}}">
{{paper.title}}
</a><br>
{{paper.authors}}.<br>
{{paper.conference}} <br>

<br>

</td></tr>

{% endfor %}
</table>


<h3>Contact</h3>

<div class="paper-section">
Sasha Rush <a href="http://en.wikipedia.org/wiki/Sasha_(name)">in person</a>  <br>
arush at cornell.edu by email <br>
Office Hours Mon. 3-4 and <a href="mailto:arush@.edu">by appointment</a> <br>
</div>
<br>
-->
<!--
<h3>Funding</h3>
      <p style="font-size: 18px">
        Our group has been generously supported through research grants and
        gifts from the following industrial institutions:
        <br>
        <br>
      </p>
          </div>
      <div class = "row">
      <center style="span">
        <img width="85px" style="display: inline" src="logos/oracle.png">
        <img width="85px" style="display: inline" src="logos/systranlogo.png">
        <img width="85px" style="display: inline" src="logos/google.jpg">
        <img width="85px" style="display: inline" src="logos/bloomberg.jpg">
        <img width="85px" style="display: inline" src="logos/microsoft.jpg">
        <img width="85px" style="display: inline" src="logos/aws.png">
        <img width="85px" style="display: inline" src="logos/fb.png">
        <img width="85px" style="display: inline" src="logos/intel.jpg">
      </center>
<br>
-->
